.main{
    height: 100vh;

}

.top{
   height: auto; 
   background-color: rgb(129, 79, 247);
   top: 0;
   left: 0;
}
.body{
    width: 100%;
    height:100%;
    
    
}

.bottom{
    position: fixed;
    bottom: 0;
    // left: 0;
}

